<!DOCTYPE html>
<html lang="lt-LT">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.santrauka }}">
        <!-- <meta name="robots" content="noindex, nofollow"> -->
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="3uRHRoEmxp70Gv-Koh5wvCoTTB7midnUu2EQ0Gu2wZs">
        <meta name="yandex-verification" content="6747201d043c850a">
        <meta property="fb:pages" content="100005449513014">
        <meta property="fb:admins" content="100005449513014">
        <meta property="og:locale" content="lt_LT">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script type='application/ld+json'>
        {
          "@context": "http://schema.org",
          "@id": "https://ziuzys.github.io#ProfilePage",
          "@type": "ProfilePage",
          "mainEntity": {
            "@id": "https://ziuzys.github.io#Person",
            "@type": "Person",
            "name": "Andrius Žiužys",
            "givenName": "Andrius",
            "familyName": "Žiužys",
            "alternateName": [ "Andrius Žiužys", "Andrius Ziuzys" ],
            "description": "Andrius Žiužys",
            "url": "https://ziuzys.github.io",
            "knowsLanguage": { "@type": "Language", "name": "Lithuanian", "alternateName": "lt" },
            "sameAs": [
                "https://github.com/ziuzys",
                "https://t.me/s/ziuzys",
                "https://www.facebook.com/andrius.ziuzys"
                ]
          },
          "isPartOf": {
            "@id": "https://ziuzys.github.io#WebSite",
            "@type": "WebSite",
            "name": "Andrius Žiužys",
            "description": "Andrius Žiužys dalinasi įžvalgomis, žiniomis ir patirtimi apie gvenimą ir verslą.",
            "url": "https://ziuzys.github.io",
            "inLanguage": "lt-LT"
          },
          "dateModified": "2025-07-14T08:00:00+00:00"
        }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-LL0P18ERT3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-LL0P18ERT3');
        </script>
    </head>

    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/" title="{{ site.name }}">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Andrius Žiužys<br>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/ziuzys" title="Andrius Žiužys">github.com/ziuzys</a><br>
              </p>
            </div>
          </div>
        </div>
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ab4777a4f4934991938a85daa392cfad"}'></script>

    </body>

</html>
