<!DOCTYPE html>
<html lang="lt-LT">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.santrauka }}">
        <!-- <meta name="robots" content="noindex, nofollow"> -->
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="3uRHRoEmxp70Gv-Koh5wvCoTTB7midnUu2EQ0Gu2wZs">
        <meta name="yandex-verification" content="6747201d043c850a">
        <meta property="fb:pages" content="100005449513014">
        <meta property="fb:admins" content="100005449513014">
        <meta property="og:locale" content="lt_LT">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-LL0P18ERT3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-LL0P18ERT3');
        </script>
    </head>

    <body>

        <div class="site"><!-- ß -->
          <div class="header">
            <h1 class="title"><a href="/" title="{{ site.name }}">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Andrius Žiužys<br>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/ziuzys" title="Andrius Žiužys">github.com/ziuzys</a><br>
              </p>
            </div>
          </div>
        </div>
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ab4777a4f4934991938a85daa392cfad"}'></script>

    </body>

</html>
